@font-face {
  font-family: Augustina;
  src: url(../assets/fonts/agustina.otf);
}
@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/montserrat.ttf);
}
@font-face {
  font-family: Montserrat-Thin;
  src: url(../assets/fonts/Montserrat-Thin.ttf);
}
/* width */
.showing::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar {
  width: 0px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #C0392B;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cc4f41;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
    overflow: overlay;
    font-size: 0.5rem;
    color: white;
    background: #000;
    font-family: Montserrat;
}
a {
  color: white;
  text-decoration: none;
}
nav.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 10;
  animation: expand 2s;
}
@keyframes expand{
  0%{height: 0px}
  100%{height: 70px}
}
h1 {
  padding: 10px 0px 0px 20px;
  display: flex;
  flex-wrap: nowrap;
}
h2{
  font-size: 1.2rem;
  font-weight: 300;
}
.title {
  font-weight: 100;
  font-size: 1.8rem;
  font-family: Augustina;
}
.quote {
  position: relative;
  font-size: 1.4rem;
  margin: 10px;
  top: 5px;
  font-weight: bold;
}
.navLink {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  width: 100%;
  justify-content: flex-end;
}
.hamburger {
  display: none;
  margin: 20px;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #C0392B;
}
.navLink > li > a {
  font-size: 0.8rem;
  padding: 10px 15px 10px 15px;
  margin-right: 20px;
  border-radius: 5%;
}

.navLink > li > a:hover {
  background-color: #C0392B;
}

.navLink > li > a:active {
  background-color: #cc4f41;
}

.border-red {
  border: solid 1px #C0392B;
}
.home {
  min-height: 100vh;
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 0 10% 0 10%;
  justify-content: space-between;
  overflow: hidden;
  /* flex-wrap: wrap;
  padding-top: 50px;
  justify-content: center; */
}
.about {
  height: 100vh;
  background-color: #212121;
  padding: 7% 2% 7% 2%;
}
.profilImg {
  opacity: 0.8;
  width: 50%;
}
.names {
  font-size: 4rem;
}
.social-media {
  display: flex;
  flex-direction: row;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn; 
  animation-duration: 2s;   
  -webkit-animation-duration: 2s;
  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;     
  visibility: visible !important; 
}
@keyframes fadeIn {
  0% {
      transform: scale(0);
      opacity: 0.0;       
  }
  60% {
      transform: scale(1.1);  
  }
  80% {
      transform: scale(0.9);
      opacity: 1; 
  }   
  100% {
      transform: scale(1);
      opacity: 1; 
  }       
}

@-webkit-keyframes fadeIn {
  0% {
      -webkit-transform: scale(0);
      opacity: 0.0;       
  }
  60% {
      -webkit-transform: scale(1.1);
  }
  80% {
      -webkit-transform: scale(0.9);
      opacity: 1; 
  }   
  100% {
      -webkit-transform: scale(1);
      opacity: 1; 
  }       
}
.social-media > li > a > img {
  height: 35px;
  margin: 15px;
}
.social-media > li > a > img:hover {
  box-shadow: 0 0 0 10px #C0392B;
  background-color: #C0392B;
  -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
}
.animatedText {
  padding: 5px;
  font-family: Montserrat-Thin;
  font-size: 1.5rem;
}
.aboutTitle {
  font-size: 4rem;
  font-family: Montserrat-Thin;
}
/* Mobile Version */
@media (max-width: 48em) {
  .home {
    padding-top: 50px;
    justify-content: center;
    flex-direction: column;
  }
  .profilImg {
    min-width: 300px;
    transform: translateY(0%) translateX(+30%);
  }
  .names {
    font-size: 3rem;
  }
  nav.nav {
    width: 100%;
    justify-content: space-between;
  }
  .navLink {
    display: block;
    position: fixed;
    right: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #302f2f;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    width: auto;
    margin: 5%;
  }
  .navLink > li > a {
    margin-left: 20px;
  }
  .navLink.active {
      right: 0;
  }

  .navLink > li {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }
  .aboutTitle {
    font-size: 3.5rem;
    text-align: center;
  }
}

@media only screen and (max-device-width: 480px) {
  .home {
    padding-top: 10px;
  }
  .names {
    font-size: 2rem;
  }
  .aboutTitle {
    font-size: 3rem;
    font-family: Montserrat-Thin;
  }
  .about {
    padding: 15% 2% 15% 2%;
  }
}

@media only screen and (max-device-height: 580px) {
  .home {
    padding-top: 50px;
  }
}